body {
    margin: 0;
    background: #ccc;
    color: #fff;
    font-family: sans-serif;
}

@keyframes blink {
    0% { opacity: 0.6; }
    50% { opacity: 1; }
    100% { opacity: 0.6; }
}

@keyframes blink2 {
    0% { opacity: 0.3; }
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0.3; }
}

@keyframes gradient-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes scrollText {
    0%, 25% {
    transform: translateX(0);
    }
    75%, 100% {
    transform: translateX(calc(var(--container-width) - 100% - 10px));
    }
}

div {
    box-sizing: border-box;
}

.reqbox {
    width: 875px;
    height: 75px;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0;
    padding: 0 0 0 20px;

    p {
        margin: 0;

        &.main-label {
            font-size: 14px;
            font-weight: bold;
            font-weight: 600;
            text-align: right;
            text-transform: uppercase;
        }
        &.arrows {
            font-size: 25px;
            line-height: 15px;
            font-weight: bold;
            font-family: monospace;
            color: #999;
        }
    }
}

.queue-box {
    width: 100%;
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 100%;
        background: linear-gradient(to right, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 100%);
        pointer-events: none;
    }
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border-left: 5px solid #222;
    // padding-left: 10px;

    .song-item {
        border-radius: 15px;
        padding: 3px 2px 8px;
        height: 100%;
        background-color: #369;
        flex-shrink: 0;
        max-width: 250px;
        overflow: hidden;
        position: relative;

        &.now-playing {
            background: #2A7B9B;
            //background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
            background: linear-gradient(
                90deg,
                rgba(42, 123, 155, 1) 0%,
                rgba(87, 199, 133, 1) 16.66%,
                rgba(237, 221, 83, 1) 33.33%,
                rgba(42, 123, 155, 1) 50%,
                rgba(87, 199, 133, 1) 66.66%,
                rgba(237, 221, 83, 1) 83.33%,
                rgba(42, 123, 155, 1) 100%
            );
            background-size: 200% 100%; /* Make gradient twice as wide */
            animation: gradient-move 0.4s linear infinite;

            &::after {
                content: 'NOW PLAYING';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
                font-size: 12px;
                color: #fff;
                background: rgba(200,0,0,0.7);
                display: block;
                padding: 1px 5px;
                border-radius: 5px;
                animation: blink2 0.5s infinite;
            }
        }
    }
    .contents {
        height: 100%;
        border-radius: 13px;
        background-color: #000;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0 10px;

        & > * {
            transform: skewX(15deg);
        }
    }
    .song-info {
        margin-right: 5px;
        display: block;
        width: 100%;
        overflow: hidden;
        --container-width: 160px;

    }
    .avatar {
        border-radius: 50%;
        border: #666 3px solid;
        background-color: #222;
    }
    p {
        display: block;
        white-space: nowrap;
        margin: 0;

        &.title {
            font-weight: 700;
            font-size: 18px;
        }
        &.artist {
            font-size: 13px;
            font-weight: 500;
            color: #bbb;
        }
        &.extended {
            display: inline-block;
            animation: scrollText 10s ease-in-out infinite;
        }
    }
}


div.main-box {
    width: 875px;
    height: 75px;
    background-color: #111;
    position: relative;
}

div.req-status {
    position: absolute;
    top: 0;
    left: -5px;
    width: 875px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    p {
        padding: 3px 15px;
        text-align: center;
        font-family: monospace;
        font-weight: bold;
        font-size: 16px;
        color: #ccc;

        span {
            animation: blink 0.5s infinite;
        }

        &.msg-closed {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: 65px;
            background-color: rgba(250,0,0,0.8);
        }
        &.msg-available {
            background-color: rgba(0,0,0,0.9);
        }
    }

}

ul.queue {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    
    li {
        //transition: all 0.3s;
        //background-color: #036;
        background-color: transparent;
        color: #ccc;
        padding: 5px 15px 5px 8px;
        font-size: 16px;
        border-left: #212121 4px solid;
        color: #999;

        &:first-child {
            background-color: rgba(220,0,0,0.5);
            border-left: #f00 4px solid;
            color: #fff;
        }

        b {
            font-size: 19px;
            color: #fff;
        }

        small {
            font-weight: bold;
            font-size: 17px;
        }
    }
}